<aside class="container">
    <img src="https://avatars.githubusercontent.com/u/190394777?v=4" alt="image-profile">
    <h1>Khoa Nguyen</h1>
    <div class="job">Fullstack developer</div>
    <nav>
        <div>
            <ul>
                <li class="active"><a href="">HOME</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">EXPERIENCE</a></li>
                <li><a href="">SKILLS</a></li>
                <li><a href="">PROJECTS</a></li>
                <li><a href="">EDUCATION</a></li>
                <li><a href="">CONTACT</a></li>
            </ul>
        </div>
    </nav>
</aside>